<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DataLoggerAppV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><userSettings>
        <DataLoggerAppV1.Properties.Settings>
            <setting name="UnitAi0" serializeAs="String">
                <value>ppm</value>
            </setting>
            <setting name="UnitAi1" serializeAs="String">
                <value>%</value>
            </setting>
            <setting name="UnitAi2" serializeAs="String">
                <value>kg</value>
            </setting>
            <setting name="UnitAi3" serializeAs="String">
                <value>mg</value>
            </setting>
            <setting name="UnitAi4" serializeAs="String">
                <value>Bar</value>
            </setting>
            <setting name="UnitAi5" serializeAs="String">
                <value>cm</value>
            </setting>
            <setting name="UnitAi6" serializeAs="String">
                <value>km</value>
            </setting>
            <setting name="UnitAi7" serializeAs="String">
                <value>oC</value>
            </setting>
            <setting name="NameAi0" serializeAs="String">
                <value>N20</value>
            </setting>
            <setting name="NameAi1" serializeAs="String">
                <value>Co2</value>
            </setting>
            <setting name="NameAi2" serializeAs="String">
                <value>O2</value>
            </setting>
            <setting name="NameAi3" serializeAs="String">
                <value>H2</value>
            </setting>
            <setting name="NameAi4" serializeAs="String">
                <value>C2H4</value>
            </setting>
            <setting name="NameAi5" serializeAs="String">
                <value>Hi</value>
            </setting>
            <setting name="NameAi6" serializeAs="String">
                <value>Co</value>
            </setting>
            <setting name="NameAi7" serializeAs="String">
                <value>N2</value>
            </setting>
            <setting name="CustomerName" serializeAs="String">
                <value>TMK Tech</value>
            </setting>
            <setting name="CustomerID" serializeAs="String">
                <value>ABC123</value>
            </setting>
            <setting name="SlectAi0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlectAi1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlectAi2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlectAi3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlectAi4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlectAi5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlectAi6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlectAi7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value />
            </setting>
            <setting name="SampleTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ColorAi0" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorAi1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorAi2" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorAi3" serializeAs="String">
                <value>Violet</value>
            </setting>
            <setting name="ColorAi4" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ColorAi5" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorAi6" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ColorAi7" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="MinAi0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAi1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAi2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAi3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAi4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAi5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAi6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAi7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxAi0" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAi1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAi2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAi3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAi4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAi5" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAi6" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAi7" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ISBT0" serializeAs="String">
                <value>50.1</value>
            </setting>
            <setting name="ISBT1" serializeAs="String">
                <value>50.2</value>
            </setting>
            <setting name="ISBT2" serializeAs="String">
                <value>50.3</value>
            </setting>
            <setting name="ISBT3" serializeAs="String">
                <value>50.4</value>
            </setting>
            <setting name="ISBT4" serializeAs="String">
                <value>50.5</value>
            </setting>
            <setting name="ISBT5" serializeAs="String">
                <value>50.6</value>
            </setting>
            <setting name="ISBT6" serializeAs="String">
                <value>50.7</value>
            </setting>
            <setting name="ISBT7" serializeAs="String">
                <value>50.8</value>
            </setting>
            <setting name="VentTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalysisTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableAI0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAI1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAI2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAI3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAI4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAI5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAI6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAI7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="save_para" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="URLExcelTemplate" serializeAs="String">
                <value />
            </setting>
        </DataLoggerAppV1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
