<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DataLoggerAppV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <DataLoggerAppV1.Properties.Settings>
            <setting name="UnitAi0" serializeAs="String">
                <value>ppm</value>
            </setting>
            <setting name="UnitAi1" serializeAs="String">
                <value>%</value>
            </setting>
            <setting name="UnitAi2" serializeAs="String">
                <value>kg</value>
            </setting>
            <setting name="UnitAi3" serializeAs="String">
                <value>mg</value>
            </setting>
            <setting name="UnitAi4" serializeAs="String">
                <value>Bar</value>
            </setting>
            <setting name="UnitAi5" serializeAs="String">
                <value>cm</value>
            </setting>
            <setting name="UnitAi6" serializeAs="String">
                <value>km</value>
            </setting>
            <setting name="UnitAi7" serializeAs="String">
                <value>oC</value>
            </setting>
            <setting name="NameAi0" serializeAs="String">
                <value>N20</value>
            </setting>
            <setting name="NameAi1" serializeAs="String">
                <value>Co2</value>
            </setting>
            <setting name="NameAi2" serializeAs="String">
                <value>O2</value>
            </setting>
            <setting name="NameAi3" serializeAs="String">
                <value>H2</value>
            </setting>
            <setting name="NameAi4" serializeAs="String">
                <value>C2H4</value>
            </setting>
            <setting name="NameAi5" serializeAs="String">
                <value>Hi</value>
            </setting>
            <setting name="NameAi6" serializeAs="String">
                <value>Co</value>
            </setting>
            <setting name="NameAi7" serializeAs="String">
                <value>N2</value>
            </setting>
        </DataLoggerAppV1.Properties.Settings>
    </userSettings>
</configuration>
